
.pocket {
	background: #CFCEC9;
	border: 4px solid#161616;
	border-radius: 10px;
	width: 250px;
	height: 75px;
	margin-bottom: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}
